@media (min-width : 0px) and (max-width: 500px){
    h1{
        font-size: 22px !important;
    }
    .themediv{
        max-width: 300px !important;
    }
    .item-table{
        max-width: 300px !important;
        width: 100% !important;
    }
    .item-table tr {
        flex-direction: row !important;
        align-items: center !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
        padding: 10px 0 !important;
    }

    .item-table td {
      width: 100% !important;
      font-size: 16px !important;
      padding: 5px 0 !important;
    }

    .item-table input {
      font-size: 20px !important;
    }

    .tr1 {
      width: 100% !important;
      font-size: 14px !important;
      border-radius: 10px 10px 0 0 !important;
    }
    .sel-item{
        max-width: 300px !important;
        width: 100% !important;
    }
    footer{
        font-size: 18px !important;
    }
}
@media (min-width : 501px) and (max-width: 767px){
    h1{
        font-size: 26px;
    }
    .themediv{
        max-width: 450px !important;
    }
    .item-table{
        max-width: 450px !important;
    }
    .item-table tr{
        padding: 10px 0 !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    }
    .item-table td{
        width: 100% !important;
        font-size: 18px !important;
        padding: 5px 0 !important;
    }
    .item-table input{
        font-size: 22px;
    }
    .sel-item{
        max-width: 450px !important;
    }
    footer{
        font-size: 20px !important;
    }
}
@media (min-width : 768px) and (max-width: 991px){
    h1{
        font-size: 30px !important;
    }
    .themediv{
        max-width: 600px !important;
    }
    .item-table{
        max-width: 600px !important;
    }
    .item-table tr {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
        padding: 10px 0 !important;
    }

    .item-table td {
      width: 100% !important;
      font-size: 20px !important;
      padding: 5px 0 !important;
    }

    .item-table input {
      font-size: 26px !important;
    }

    .tr1 {
      width: 100% !important;
      font-size: 18px !important;
      text-align: start !important;
      border-radius: 10px 10px 0 0 !important;
    }
    .sel-item{
        max-width: 600px !important;
    }
    footer{
        font-size: 22px !important;
    }
}